{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covision</title>
    <script id="gs-sdk" src='//www.buildquickbots.com/botwidget/v3/demo/static/js/sdk.js?v=3' key="b3dd5f46-545f-4a76-b058-f68461ff54e5" ></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Covision</a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="{% url 'predict' %}">Trend Predictor</a></li>
            <li ><a href="{% url 'sentiment' %}">Sentiment Analyzer</a></li>
            <li><a href="{% url 'fakenews' %}">Fake News Detector</a></li>
            <li><a href="{% url 'summary' %}">Article Summarizer</a></li>
            <li><a href="{% url 'chatbot' %}">Covid 19 Chatbot</a></li>
          </ul>
        </div>
        <div id="google_translate_element"></div>
    </nav>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
      </script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
    {% block content %}

    {% endblock content %}

      </body>
      </html>
      