{% extends "base.html" %}
{% block content %}
<style>
#rcorners1 
{
  border-radius: 25px;
  border: 2px solid#88c6ff;
  padding: 20px; 
  width: 500px;
  height: 200px;  
}
.content 
{
  max-width: 500px;
  margin-left: 200px;
  margin-top: auto;
}
.content1
{
  margin-left: 550px;
  margin-right: auto;
  margin-top: 100px;
  max-width: 200px;
}
.content2
{
  margin-left: 550px;
  margin-right: auto;
  margin-top: 70px;
  max-width: 200px;
}
</style>
<body>
<main role="main">

    <!-- START THE FEATURETTES -->
    <div class="row featurette; content">
      <div class="col-md-5">
        <h3 class="featurette-heading"><u><a href="{% url 'predict' %}">COVID 19 Trend Predictor</a></u> </h3>
        <p id="rcorners1" class="lead" style="font-size:18px">Get information on the daily reported and forecasted new covid cases for the next 30 days in India</p>
      </div>
      <div class="col-md-5; content2">
        <img src="../static/images/trends.png" width="200px" height="200px">
      </div>
    </div>
    
    

    <hr class="featurette-divider">

    <div class="row featurette; content">
      <div class="col-md-5 order-md-2">
        <h3 class="featurette-heading"><u><a href="{% url 'sentiment' %}">COVID 19 Sentiment Analyzer</a></u> </h3>
        <p id="rcorners1" class="lead" style="font-size:18px">Analyze the sentiments of latest tweets related to corona virus and get an idea of the current situation</p>
      </div>
      <div class="col-md-5; content1">
        <img src="../static/images/sentiment.png" width="200px" height="200px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette; content">
      <div class="col-md-5">
        <h3 class="featurette-heading"><u><a href="{% url 'fakenews' %}">COVID 19 Fake News Detector</a></u> </h3>
        <p id="rcorners1" class="lead" style="font-size:18px">Determine the credibility of COVID 19 news</p>
      </div>
      <div class="col-md-5; content2">
        <img src="../static/images/fake.jpg" height="200" width="200">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette; content">
        <div class="col-md-5">
          <h3 class="featurette-heading"><u><a href="{% url 'summary' %}">COVID 19 Article Summarizer</a></u> </h3>
          <p id="rcorners1" class="lead" style="font-size:18px">Summarize articles related to COVID 19 to keep up with important information and not having to read unnecessary information</p>
        </div>
        <div class="col-md-5; content1">
            <img src="../static/images/summary.png" height="200" width="200">
        </div>
      </div>

      <hr class="featurette-divider">

    <div class="row featurette; content">
        <div class="col-md-5">
          <h3 class="featurette-heading"><u><a href="{% url 'chatbot' %}">COVID 19 Chatbot</a></u> </h3>
          <p id="rcorners1" class="lead" style="font-size:18px">Get immediate answers to your COVID 19 related queries</p>
        </div>
        <div class="col-md-5; content1">
            <img src="../static/images/chatbot.jpg" height="200" width="200">
        </div>
      </div>
    
    <!-- /END THE FEATURETTES -->
    <!-- Page content -->

  </div><!-- /.container -->
  


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>

{% endblock content %}

