{% extends "base.html" %}
{% block content %}

<body>
<main role="main">

    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-5">
        <h2 class="featurette-heading">COVID 19 Trends Predictor </h2>
        <p class="lead">Predict trends in daily covid 19 cases and get an idea as to how the future situation might look</p>
      </div>
      <div class="col-md-5">
        <img src="../static/images/trends.png" width="870px" height="600px">
      </div>
    </div>
    
    

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h2 class="featurette-heading">COVID 19 Sentiment Analyzer</h2>
        <p class="lead">Analyze the sentiments of latest tweets related to corona virus and get an idea of the current situation</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/images/sentiment.png">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <h2 class="featurette-heading">COVID 19 Fake News Detector </h2>
        <p class="lead">Determine the truthness of covid 19 rumors</p>
      </div>
      <div class="col-md-5">
        <img src="../static/images/fake.jpg" height="500" width="700">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">COVID 19 Article Summarizer </h2>
          <p class="lead">Summarize articles related to covid 19 to keep up with important information and not having to read unnecessary info</p>
        </div>
        <div class="col-md-5">
            <img src="../static/images/summary.png" height="500" width="700">
        </div>
      </div>

      <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">COVID 19 Chatbot </h2>
          <p class="lead">Get immediate answers to your covid 19 related queries</p>
        </div>
        <div class="col-md-5">
            <img src="../static/images/chatbot.jpg">
        </div>
      </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>

{% endblock content %}

